/*client say section */
.section-header{
    text-align: center;
    margin-bottom: 50px;
}

.section-header h2{
    color: #343a40;
}
.section-header.title{
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
    color: black;
    line-height: 1.2;
}

.testimonials{
    padding: 100px;
}

.testimonials-item{
    background-color: #fff;
    padding: 30px;
    border-radius: 30px;
}

.testimonials-item .info{
    display: flex;
    align-items: center;
}


.testimonials-item img{
    max-width: 80px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
}

.testimonials-item .name{
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 1.2;
}

.testimonials-item .job{
    text-transform: capitalize;
}

.testimonials-item p{
    margin-top: 20px;
}

.testimonials-item .rating{
    margin-top: 15px;
    font-size: 14px;
    color: #ddbb26;
}

.testimonials .swiper-pagination{
    position: relative;
    margin-top: 40px;
    bottom: auto;
}

.testimonials .swiper-pagination-bullet{
    height: 12px;
    width: 12px;
}
/*end*/