body {
    background-color: rgb(236, 236, 221) !important;
  }
.carousel-image {
    height: 400px; 
    width: 100%; 
    object-fit: cover; 
}
  
.custom-bg {
    background-color: #3ECE75 !important;
}
 

h2 {
    /*font-weight: bold;*/
    color: black;
}

/*job list*/

body {
    font-family: Arial, sans-serif;
   
}
h1 {
    font-weight: bold;
    color: #343a40;
}
.job {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
.job:hover {
    transform: translateY(-5px);
}
.job-logo img {
    border-radius: 50%;
}
.job-details h2 {
    font-size: 1.25rem;
    color: black;
}
.job-details p {
    font-size: 0.9rem;
    color: #6c757d;
    margin-bottom: 0.25rem;
}
.btn-success {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
}

/*end*/

.bg-primary {
    background-color: #3ECE75 !important;
}

/*client say*/

.section-header{
    text-align: center;
    margin-bottom: 50px;
}

.section-header h2{
    color: #343a40;
}
.section-header.title{
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
    color: black;
    line-height: 1.2;
}

.testimonials{
    padding: 100px;
}

.testimonials-item{
    background-color: #fff;
    padding: 30px;
    border-radius: 30px;
}

.testimonials-item .info{
    display: flex;
    align-items: center;
}


.testimonials-item img{
    max-width: 80px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
}

.testimonials-item .name{
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 1.2;
}

.testimonials-item .job{
    text-transform: capitalize;
}

.testimonials-item p{
    margin-top: 20px;
}

.testimonials-item .rating{
    margin-top: 15px;
    font-size: 14px;
    color: #ddbb26;
}

.testimonials .swiper-pagination{
    position: relative;
    margin-top: 40px;
    bottom: auto;
}

.testimonials .swiper-pagination-bullet{
    height: 12px;
    width: 12px;
}
/*end*/