body {
    background-color: rgb(236, 236, 221) !important;
  }
  

.cat-item {
    background-color: #f8f9fa; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.cat-item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}


.cat-item i {
    color: #3ECE75;
    margin-bottom: 15px; 
}


.cat-item h6 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: black;

    
}


.cat-item p {
    font-size: 1rem;
    color: #343a40; 
    
}


@media (max-width: 768px) {
    .cat-item {
        padding: 20px; 
    }

    .cat-item i {
        font-size: 2.5rem;
    }

    .cat-item h6 {
        font-size: 1.1rem;
        text-decoration: none; 
    }
}


.container-xxl {
    padding-top: 80px; 
    padding-bottom: 80px; 
    
}


h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #343a40; 
}


.row.g-4 {
    margin-top: 40px;
}

